# temporary files
# todo: get rid of these
zz_tmp_secrets.txt
test*.tf

# vim files
*.swp
tags.lock  # vim tagging file

# terraform local test files
.terraform
terraform.tfstate*

# python files
venv
__pycache__
