# NOTE: this resource is auto generated via flask-datadog

resource "datadog_monitor" "{{monitor_name}}" {
  name               = "{{monitor_name_pretty}}"
  type               = "metric alert"
  message            = "{{msg}}"
  escalation_message = "{{escalation_msg}}"

  query = "{{monitor_query}}"

  monitor_thresholds {
    {% if warning_threshold is not none %}
      warning = {{warning_threshold}}
    {% endif %}
    {% if warning_recovery is not none %}
      warning_recovery = {{warning_recovery}}
    {% endif %}
    {% if critical_threshold is not none %}
      critical = {{critical_threshold}}
    {% endif %}
    {% if critical_recovery is not none %}
      critical_recovery = {{critical_recovery}}
    {% endif %}
  }

  include_tags = true

  tags = [
    "service:{{service_name}}",
    "env:{{env}}",
    "resource_name:{{resource_name}}"
  ]
}

